@model ComputersUnivLab1.Cpu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cpu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoresNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoresNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreadsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socket.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
