@model ComputersUnivLab1.Motherboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formfactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formfactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramcount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramcount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usbcount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usbcount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gpuinterface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gpuinterface.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ramtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ramtype.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socket.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
