@model IEnumerable<ComputersUnivLab1.Motherboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Материнські плати</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formfactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramcount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usbcount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpuinterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formfactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usbcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpuinterface.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramtype.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
