@model IEnumerable<ComputersUnivLab1.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Комп'ютери</h1>

<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Computers", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cooler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motherboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerSupply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RamsToComputers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputersToDrives)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cooler.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpu.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gpu.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motherboard.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerSupply.Name)
                </td>
                <td>
                    @foreach (var i in item.RamsToComputers)
                    {
                        var text = ((List<Ram>)ViewBag.Rams).Find(c => c.Id == i.Ramid).Name + '\n';
                        @Html.DisplayFor(modelItem => text)
                    }
                </td>
                <td>
                    @foreach (var i in item.ComputersToDrives)
                    {
                        var text = ((List<Drive>)ViewBag.Drives).Find(c => c.Id == i.DriveId).Name + '\n';
                        @Html.DisplayFor(modelItem => text)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div id="chart1"></div>
</div>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/CpuData', function (CpuData) {
                data = google.visualization.arrayToDataTable(CpuData, false);
                var option = {
                    title: "Співвідношення кількості процесорів",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/GpuData', function (GpuData) {
                data = google.visualization.arrayToDataTable(GpuData, false);
                var option = {
                    title: "Співвідношення кількості відеокарт",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}

